doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    meta(name="description" content="text-overflow: ellipsis with multiple lines.")
    title .lineclamp Test - BYODKM/lineclamp
    link(rel="stylesheet" href="main.css")
  body
    h1 .lineclamp
    .lineclamp
      | あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
